#GameWindow{
    width: 90vw;
    height: 95vh;
    border: 1px solid black;
    margin: auto;
    position: relative;
}

button{
    font: inherit;
    border: none;
    cursor: pointer;
    background: bisque;
    text-align: center;
    color: black;
    font-size: xx-large;
}
button:hover{
    background: wheat;
}
button:active{
    background: burlywood;
}

#PlayerHand{
    position: absolute;
    height: 14.52vw;
    width: 20vw;
    bottom: 10vh;
    left: 35vw;
}
#DealerHand{
    position: absolute;
    height: 14.52vw;
    width: 20vw;
    top: 5vh;
    left: 35vw;
}

#Hit{
    position: absolute;
    bottom: 0;
    left: 40%;
}
#Stand{
    position: absolute;
    bottom: 0;
    right: 40%;
}

#CardLay{
position: absolute;
width: 90vw;
height: 14.52vw;
top: 50vh;
}

#Card{
    position: absolute;
    width: 10vw;
    height: 14.52vw;
    
}